@page "/games/start"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Game.Client.Shared
@using Game.Client.Shared.Services.CurrentUser
@using System.Linq
@using Game.Client.Client
@using Syncfusion.Blazor.DropDowns
@using Game.Client.Shared.ViewModels;
@using System.ComponentModel
@using System.Collections.Specialized
@attribute [Authorize]
@inject HttpClient Http
@inject IHttpClientFactory factory
@inject ICurrentUserService currentUserService
@inject IStartAGameViewModel vm;
@inject NavigationManager nav;
@implements IDisposable
@attribute [Authorize]
<h3>Start a New Game</h3>
@if ((vm.Games == null || vm.Games.Count == 0) || vm.AvailableGameTables == null)
{
    <p><em>Initializing...</em></p>
}
else
{
    <EditForm Model="@vm" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="flex-grid">
            <div class="col">
                <label>
                    Choose a game
                </label>
            </div>
            <div class="col">
                @*<Syncfusion.Blazor.DropDowns.SfComboBox DataSource="vm.Games"
                                                            TItem="Entities.Game"
                                                            TValue="Entities.Game"
                                                            Value="selectedGame"
                                                            @ref="AvailableGamesList">
                        <ComboBoxFieldSettings Text="Name"  />
                        <ComboBoxEvents TValue="Entities.Game"
                                       TItem="Entities.Game"
                                       ValueChange="selectedGameChanged" />
                    </Syncfusion.Blazor.DropDowns.SfComboBox>*@
                <SfListBox DataSource="vm.Games"
                           TItem="Entities.Game"
                           TValue="string"
                           Value="selectedGame"
                           @ref="AvailableGamesList">
                    <ListBoxFieldSettings Text="Name" />
                    <ListBoxEvents TValue="string"
                                   TItem="Entities.Game"
                                   ValueChange="selectedGameChanged" />
                </SfListBox>
            </div>
        </div>
        <div class="flex-grid">
            <div class="col">
                <label>Name:</label>
            </div>
            <div class="col">
                <Syncfusion.Blazor.Inputs.SfTextBox @bind-Value="@vm.GameTable.Name"> </Syncfusion.Blazor.Inputs.SfTextBox>
            </div>
        </div>
        <div class="flex-grid">
            <div class="col">
                <label>
                    Pick your players
                </label>
            </div>
            <div class="col">
                <SfListBox DataSource="@vm.Players" TItem="Entities.Player" TValue="string[]" @ref="PlayersList" onselect="PlayerSelected">
                    @*<ListBoxEvents TValue="string[]"  TItem="Entities.Player"/>*@
                    <ListBoxFieldSettings Text="PrincipalName" Value="PrincipalId"></ListBoxFieldSettings>
                    <ListBoxSelectionSettings ShowCheckbox="true" CheckboxPosition="CheckBoxPosition.Right" />
                </SfListBox>
            </div>
        </div>
        <ValidationSummary />
        <button type="submit" disabled="@vm.CannotCreateGameTable">Let's Play!</button>
    </EditForm>
    <EditForm Model="@vm" OnValidSubmit="@JoinGame">
        <br />
        <br />
        <div class="flex-grid">
            <div class="col">
                <label>Available Tables</label>
            </div>
            <div class="col">
                <SfListBox DataSource="@vm.AvailableGameTables"
                           TItem="Entities.Table"
                           TValue="string"
                           @ref="@AvailableTablesList"
                           Value="selectedGameTableId">
                    <ListBoxFieldSettings Text="Name"
                                          Value="Id" />
                    <ListBoxEvents TValue="string"
                                   TItem="Entities.Table"
                                   ValueChange="selectedItemChanged"
                                   ItemSelected="itemSelected" />
                    <ListBoxSelectionSettings Mode="SelectionMode.Single" />
                </SfListBox>
            </div>
        </div>
        <button type="submit" disabled="@(vm.SelectedGameTable==null ? true : false)">Join!</button>
    </EditForm>


}
@code
{
    private Game.Entities.Table gameTable;
    private List<Game.Entities.Game> games;
    private List<Game.Entities.EasyAuthUserInfo> players;
    private List<Game.Entities.EasyAuthUserInfo> registeredPlayers;
    private List<Game.Entities.EasyAuthUserInfo> usersFriends;
    bool playersLoaded;
    string[] playerIds;
    SfListBox<string[], Entities.Player> PlayersList;
    SfListBox<string, Entities.Table> AvailableTablesList;
    SfListBox<string, Entities.Game> AvailableGamesList;
    public string selectedGameTableId { get; set; }
    public string selectedGame { get; set; }
    public string selectedGameId { get; set; }
    public void selectedItemChanged(ListBoxChangeEventArgs<string, Entities.Table> args)
    {
        var x = AvailableTablesList.Value;
        vm.SelectedGameTable = AvailableTablesList.GetDataByValue(x).FirstOrDefault();
        StateHasChanged();
    }
    public void selectedGameChanged(ListBoxChangeEventArgs<string, Entities.Game> args)
    {
        if (AvailableGamesList.Value == null) return;
        var x = AvailableGamesList.Value;
        vm.SelectedGame = AvailableGamesList.GetDataByValue(x).FirstOrDefault();
        StateHasChanged();
    }
    public void itemSelected(FilteringEventArgs args)
    {

    }
    protected override async Task OnInitializedAsync()
    {
        vm.PropertyChanged += vmPropertyChanged;
        playersLoaded = false;

        registeredPlayers = new List<Entities.EasyAuthUserInfo>();
        usersFriends = new List<Entities.EasyAuthUserInfo>();

        gameTable = new Entities.Table();
        vm.OwnGameCreated += OwnGameCreated;
    }
    private async void OwnGameCreated(object sender, Game.Client.Shared.Services.SignalRService.PlayerRequestingToJoinTableEventArgs args)
    {
        nav.NavigateTo($"/games/lobby/{args.Message.Table.Id.ToString()}");
    }
    private async void PlayerSelected(object sender, EventArgs args)
    {

    }
    private async void vmPropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }
    private async void PlayersChanged(object sender, NotifyCollectionChangedEventArgs args)
    {
        Console.WriteLine(args.Action);
        await InvokeAsync(() => StateHasChanged());
    }
    private async void TablesChanged(object sender, NotifyCollectionChangedEventArgs args)
    {
        Console.WriteLine(args.Action);
        await InvokeAsync(() => StateHasChanged());
    }
    private async void HandleSubmit()
    {

    }
    private async void HandleInvalidSubmit()
    {

    }
    private async Task JoinGame()
    {
        nav.NavigateTo($"/games/lobby/{vm.SelectedGameTable.Id}");
    }
    private async Task HandleValidSubmit()
    {
        vm.GameTable.InvitedPlayers = PlayersList.GetDataByValue(PlayersList.Value).ToList();
        await vm.StartGame();
    }
    private async Task ListItemSelected(SelectEventArgs args)
    {
        Console.WriteLine(args.GetType().Name);
    }
    public void Dispose()
    {
        vm.PropertyChanged -= vmPropertyChanged;
        vm.OwnGameCreated -= OwnGameCreated;
        vm = null;
    }
}
