@using Game.Client.Shared.Services.CurrentUser
@using Game.Client.Shared.ViewModels
@inject ICurrentUserService currentUserService
<div class="playingCards fourColours rotateHand simpleCards">
    <table>
        @foreach (KeyValuePair<int,Game.Entities.Player> pr in vm.Table.Players.Where(player => !player.Value.PrincipalId.Equals(currentUserService.CurrentClaimsPrincipalOid)))
        {
            <tr style="background-color:purple">
                <td>
                    <div>@pr.Value.PrincipalName</div>
                </td>
                <td>
                    <Hand Cards="@pr.Value.Hand" DeckType="@vm.Table.Game.DeckType" MyHand="false" vm="@vm"/>
                </td>
            </tr>
        }
        <tr>
            <td>

            </td>
            <td>
                <table style="position:absolute;left:calc(75vw);width:calc(25vw)">
                    <tr>
                        <td style="background-color:red">
                            <div class="playingCards fourColours simpleCards" >
                                <Deck Cards="@vm.Table.Deck.Cards" DeckType="@vm.Table.Game.DeckType" CardsAreSecret="true"/>
                            </div>
                        </td>
                        <td style="background-color:navy">
                            <div class="playingCards fourColours simpleCards" >
                                <Deck Cards="@vm.Table.DiscardPile.Cards" DeckType="@vm.Table.Game.DeckType" CardsAreSecret="false"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="background-color:orange">
            @{
                var p = vm.Table.Players.Where(player => player.Value.PrincipalId.Equals(currentUserService.CurrentClaimsPrincipalOid)).FirstOrDefault();
            }
            <td>
                <table>
                    <tr>
                        <td>
                            <div>@p.Value.PrincipalName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (vm.Dealer.PrincipalId.Equals(currentUserService.CurrentClaimsPrincipalOid) && vm.RoundCompleted)
                            {
                                <Syncfusion.Blazor.Buttons.SfButton>Deal</Syncfusion.Blazor.Buttons.SfButton>
                            }
                            else
                            {
                                @if (vm.IsMyTurn)
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                <Syncfusion.Blazor.Buttons.SfButton OnClick="discardClicked" Disabled="@vm.CannotDiscard">
                                                    Discard
                                                </Syncfusion.Blazor.Buttons.SfButton>
                                            </td>
                                            <td>
                                                <Syncfusion.Blazor.Buttons.SfButton>
                                                    Play
                                                </Syncfusion.Blazor.Buttons.SfButton>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <Hand Cards="@p.Value.Hand" DeckType="@vm.Table.Game.DeckType" MyHand="true" vm="@vm"/>
            </td>
        </tr>
    </table>
</div>
@*<div class="playingCards fourColours rotateHand simpleCards">
        <div class="flex-grid">
            @foreach (Game.Entities.Player p in vm.Table.Players)
            {
                <div class="flex-row">
                    <Hand Cards="@p.Hand" DeckType="@vm.Table.Game.DeckType" MyHand="@currentUserService.CurrentClaimsPrincipalOid.Equals(p.PrincipalId)" />
                </div>
            }
        </div>
    </div>*@
@code {
    [Parameter]
    public IPlayGameViewModel vm { get; set; }
    private async void dealClicked(MouseEventArgs args)
    {
        await vm.Deal();
        await InvokeAsync(() => StateHasChanged());
    }
    protected async void discardClicked(MouseEventArgs args)
    {
        await vm.DiscardSelectedCards();
    }
    protected override async Task OnParametersSetAsync()
    {

        vm.PropertyChanged += async (s, e) =>
        {
            await InvokeAsync(() => StateHasChanged());
        };
        await base.OnParametersSetAsync();
    }
}
