@using Game.Client.Shared.ViewModels
@using Game.Client.Client.Shared
@inject Game.Client.Shared.Services.CurrentUser.ICurrentUserService currentUserService
@{
    var n_imgs = vm.Table.Players.Count;
    var has_mid = 0;
    var m = n_imgs - has_mid;
    decimal tan = System.Convert.ToDecimal(Math.Tan(Math.PI / m));
}
<div class="container" style="@getContainerStyle(m, tan)">
    <div>

        <div class="playingCards fourColours rotateHand simpleCards">
            <Deck Cards="@vm.Table.Deck.Cards" />
        </div>

        <div class="flex-grid" hidden="@(!vm.Started)">
            <div class="flex-row" style="align-content:flex-end">
                <Syncfusion.Blazor.Buttons.SfButton OnClick="dealClicked" Disabled="@(vm.CanStartGame)">
                    Deal!
                </Syncfusion.Blazor.Buttons.SfButton>
            </div>
        </div>
    </div>
    @{
        var counter = 1;
        foreach (Entities.Player p in vm.Table.Players)
        {
            <div class="playingCards fourColours rotateHand simpleCards" style="@getDivStyle(counter, p.PrincipalId)">
                <div class="table">
                    <div>
                        @if (p.PrincipalId == currentUserService.CurrentClaimsPrincipalOid)
                        {
                            <Hand Cards="p.Hand" DeckType="vm.Table.Game.DeckType" MyHand="true" />
                        }
                        else
                        {
                            <div>
                                <div>
                                    <Hand Cards="p.Hand" DeckType="vm.Table.Game.DeckType" MyHand="false" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            counter++;
        }
    }
</div>
@code{
    [Parameter]
    public Game.Client.Shared.ViewModels.IPlayGameViewModel vm { get; set; }
    private async void dealClicked(MouseEventArgs args)
    {
        await vm.Deal();
        await InvokeAsync(() => StateHasChanged());
    }
    public string getDivStyle(int i, string principalId)
    {
        if(principalId.Equals(currentUserService.CurrentClaimsPrincipalOid))
        {
            return $"--i: {i}";
        }
        else
        {
             return $"--i: {i}; pointer-events:none";
        }
    }
    public string GetLayoutClass(string baseClassNames, int position)
    {
        return baseClassNames + " " + layoutPositions[position];
    }
    public string getContainerStyle(decimal m, decimal tan)
    {
        return $"--m: {m}; --tan: {Math.Abs(tan)}";
    }
    private string[] layoutPositions = { "deg0", "deg45", "deg135", "deg180", "deg225", "deg315" };

}